/* Shortcuts */

.pt-5{
	padding-top: 5%;
}
.pt-3{
	padding-top: 3%;
}
.pb-5{
	padding-bottom: 5%;
}
.mg-5{
	margin: 5%;
}
.mg-2{
	margin: -2%;
}
.mgl-2{
	margin-left: 2%;
}
.mgr-10{
	margin-right: -5%;
}
.mb-5{
	margin-bottom: -5%;
}
.mt-07{
	margin-top:-0.7%;
}

.text-white{
	color: white;
}

